<div class="footer" data-aos="flip-up" data-aos-duration="3000">
    <div class="row">
        <div class="col">
            <div class="font-effect-3d-float">
                <div data-aos="zoom-in-right" data-aos-duration="3000">
                    <h3><u>About Me </u></h3>
                </div>
            </div>
            <div class="footertext">
                <span>
                    Hello! I'm a passionate and detail-oriented freelancer with expertise in Angular, HTML, CSS,
                    Python, FastAPI, and adept at handling HTTP requests. Ready to bring creativity and efficiency
                    to your projects as a fresher in the freelance world. Let's build something remarkable!
                </span>
            </div>
            <footer>
                <div class="row">
                    <div class="col">
                        <div class="social-media" style="display: inline;">
                            <ul>
                                <li> 
                                    <a href="https://www.linkedin.com/in/kavalichinne3100100/" target="_blank">
                                        <img src="assets/images/linkedin.svg" alt="" style="height: 5vh;">
                                    </a>
                                </li>
                                <li>
                                    <a href="https://github.com/BeCreatvie5" target="_blank">
                                        <img src="assets/images/github.svg" style="height: 5vh; ">
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <p>&copy; 2024 Developed by Kavali Akash. All rights reserved.</p>
            </footer>
        </div>
    </div>
</div>