<div class="certification">
    <div class="row">
        <div class="col">
          <div class="card" data-aos="flip-right" data-aos-duration="3000">
                <div class="card-container" style="border: 3px solid gray; overflow: hidden; ">
                    <div class="row" style="padding-left: 40px; ">
                        <h3 style="text-align: center;color: cornsilk;" class="font-effect-3d-float">Certificates</h3>
                        <div class="col-md-4" *ngFor="let certification of certifications">
                         <!-- your-component.component.html -->
                          <mat-card class="example-card" data-aos="zoom-in-right" data-aos-duration="3000">
                            <a [href]="certification.link" target="_blank">
                              <img mat-card-lg-image [src]="certificationService.getImagePath(certification.imageFileName)" alt="Image">
                            </a>
                          </mat-card>
                        </div>
                    </div>
                </div>
            </div>
        </div>
   </div>
</div>