<div class="certification">
    <div class="row">
        <div class="col">
            <div class="card" data-aos="flip-right" data-aos-duration="3000">
                <div class="card-container" style="border: 3px solid gray; overflow: hidden; ">
                    <div class="row" style="padding-left: 40px; ">
                        <h3 style="text-align: center;color: cornsilk;" class="font-effect-3d-float">Certificates</h3>
                        <div class="col-md-4">
                                <mat-card class="example-card" data-aos="zoom-in-right" data-aos-duration="3000">
                                  <a href="https://jmp.sh/Mx0wP9lW">
                                    <img mat-card-lg-image src="assets/images/angular.png" alt="Image 1">
                                  </a>
                                </mat-card>
                        </div>
                        <div class="col-md-4">
                                <mat-card class="example-card" data-aos="zoom-in-right" data-aos-duration="3000">
                                  <a href="https://jumpshare.com/v/q74GBLpaLHWAGHxFZ5Ab">
                                    <img mat-card-lg-image src="assets/images/fastapi.png" alt="Image 1">
                                  </a>
                                </mat-card>
                        </div>
                        <div class="col-md-4">
                                <mat-card class="example-card" data-aos="zoom-in-right" data-aos-duration="3000">
                                    <img mat-card-lg-image src="assets/images/fastapi_using_ML.png" alt="Image 1">
                                </mat-card>
                        </div>
                        <div class="col-md-4">
                                <mat-card class="example-card" data-aos="zoom-in-right" data-aos-duration="3000">
                                  <a href="https://jumpshare.com/v/3vIE2ITGMRcHmEIbyckC">
                                    <img mat-card-lg-image src="assets/images/NNN.png" alt="Image 1">
                                  </a>
                                </mat-card>
                        </div>
                        <div class="col-md-4">
                                <mat-card class="example-card" data-aos="zoom-in-right" data-aos-duration="3000">
                                  <a href="https://jmp.sh/MgfpvQaW">
                                    <img mat-card-lg-image src="assets/images/hexnbit.png" alt="Image 1">
                                  </a>
                                </mat-card>
                        </div>
                        <div class="col-md-4">
                                <mat-card class="example-card" data-aos="zoom-in-right" data-aos-duration="3000">
                                  <a href="https://jmp.sh/GQsMF5cG">
                                    <img mat-card-lg-image src="assets/images/foundation.png" alt="Image 1">
                                  </a>
                                </mat-card>
                        </div>
                        <div class="col-md-4">
                                <mat-card class="example-card" data-aos="zoom-in-right" data-aos-duration="3000">
                                  <a href="https://jmp.sh/vKgPOhP3">
                                    <img mat-card-lg-image src="assets/images/ascendo.png" alt="Image 1">
                                  </a>
                                </mat-card>
                        </div>
                        <div class="col-md-4">
                                <mat-card class="example-card" data-aos="zoom-in-right" data-aos-duration="3000">
                                  <a href="https://jmp.sh/XdfvFchw">
                                    <img mat-card-lg-image src="assets/images/python.png" alt="Image 1">
                                  </a>
                                </mat-card>
                        </div>
                    </div>
                </div>
                <!-- Add more mat-card elements as needed -->
            </div>
            <!-- <div class="card">
                
                <h2>Certification</h2>
                <div class="row">
                    <div class="col">
                        <mat-card class="example-card">
                            <mat-card-header>
                              <div mat-card-avatar class="example-header-image"></div>
                              <mat-card-title>Shiba Inu</mat-card-title>
                              <mat-card-subtitle>Dog Breed</mat-card-subtitle>
                            </mat-card-header>
                            <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">
                            <mat-card-content>
                              <p>
                                The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
                                A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
                                bred for hunting.
                              </p>
                            </mat-card-content>
                            <mat-card-actions>
                              <button mat-button>LIKE</button>
                              <button mat-button>SHARE</button>
                            </mat-card-actions>
                            <mat-card-header>
                              <div mat-card-avatar class="example-header-image"></div>
                              <mat-card-title>Shiba Inu</mat-card-title>
                              <mat-card-subtitle>Dog Breed</mat-card-subtitle>
                            </mat-card-header>
                            <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">
                            <mat-card-content>
                              <p>
                                The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
                                A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
                                bred for hunting.
                              </p>
                            </mat-card-content>
                            <mat-card-actions>
                              <button mat-button>LIKE</button>
                              <button mat-button>SHARE</button>
                            </mat-card-actions>
                            <mat-card-header>
                              <div mat-card-avatar class="example-header-image"></div>
                              <mat-card-title>Shiba Inu</mat-card-title>
                              <mat-card-subtitle>Dog Breed</mat-card-subtitle>
                            </mat-card-header>
                            <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">
                            <mat-card-content>
                              <p>
                                The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
                                A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
                                bred for hunting.
                              </p>
                            </mat-card-content>
                            <mat-card-actions>
                              <button mat-button>LIKE</button>
                              <button mat-button>SHARE</button>
                            </mat-card-actions>
                          </mat-card>                          
                    </div>
                </div>
            </div> -->
        </div>
   </div>
</div>