<div class="main">
            <!-- <div class="card animated-text"> -->
    <div class="line">
        <label class="display-1 text animated-text">Hi! I am Akash
            <p class="subtitle">The Free Lancer</p>
        </label>
        <!-- <div class="card" data-aos="zoom-out-up" data-aos-duration="3000">
            <img src="assets/images/profile.jpg" alt="" class="profile">
        </div> -->
                        <!-- <p class="fade-in">This text fades in.</p>
                        <p class="slide-in-bottom">This text slides in from the bottom.</p>
                        <p class="bounce">This text bounces.</p>
                        <p class="spin">This text spins.</p>
                        <p class="pulse">This text pulses.</p>
                        <p class="fade-and-slide">This text fades in and slides in from the bottom.</p> -->
    </div>
    <!-- <app-scrollanimation></app-scrollanimation> -->

                <!-- </div> -->
</div>
<br>
